/*
 * CSS File for the solution
 * Midterm Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *   #ede0d4
 *   #e6ccb2
 *   #ddb892
 *   #b08968
 *   #7f5539
 *   #9c6644
 *
 * https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644
 */

/*
 * The width of my Product Card in the screenshot was 400px
 * You can use that width or set your own width
 */

/*
 * HINT: For making image fill the container use object-fit:cover property:
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
 */

html {
  font-size: 1.0rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: blanchedalmond;
  display: flex;
}

video

header h2 {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: black;
  color: #eaf4f4;
  text-align: center;
  font-size: 1.2rem;

.flex-container {
  display: flex;
}

main {
  margin: 0rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
max-width: 300px;
margin: auto;
text-align: center;
font-family: Arial;
padding: 1,5rem;
background-color: antiquewhite;
}

.price {
  color: black;
  font-size: 40px;
}

.flex-container div {
  background-color: antiquewhite;
  margin: 0px;
  padding: 20px;
  text-align: center;
  line-height: .9;
  font-size: 13px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  outline: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  margin: 4px 2px;
}

.button:hover {
  background-color: #b08968;
}

.

.product_card{
  display: flex;
  max-width: 100px;
}

.product_card {
  width: 50%;
}


.product_details h2 {
  font-style: italic;
  color: #b08968;
  font-size: 0.5rem;
}

.product_details h1{
  font-size: 2.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.product-card img {
  width: 100%;
  border-radius: 5px;
}

.product-card h2 {
  margin-top: 10px;
  font-size: 22px;
}

.product-card .description {
  margin-top: 10px;
}

.product-card .price {
  margin-top: 10px;
  font-weight: bold;
}

.product-card .buy-button {
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-card .buy-button:hover {
  background-color: #6f5916;
}
